*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
span.text1{
    font-family: 'Poppins', sans-serif;
    font-size:13pt;
    font-weight: 900;
    color: #434b58;
}

span.text2{
    font-family: 'Poppins', sans-serif;
    font-weight:400 ;
    font-size:11pt;
    color: #434b58
}

body{
    background-color: #ffffff;
    height: 100hv;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.boxfull {
    display: flex;
    margin: 50px 10px 0px 10px;
    align-items: center;
    justify-content: center;
    width: 1400px;
    height:830px;
    background:#D5E0EF ;
}

div.conteudo {
    display: flex;
    position: absolute;
    width: 350px;
    height: 600px;
    background: rgb(248, 248, 248);
    border-radius: 5%;
}
img{
    display: flex;
    position: relative;
    padding: 6px;
    margin: 10px 0px 0px 10px;
    border-radius: 5%;
    width: 330px;
    height: 330px;
}
.visitors {
   display:block;
   position: relative;
   text-align:center;
   justify-content: center;
   margin: 340px 0px 20px -310px;
   padding:10px;

}
