*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body{
    padding: 30px;
    margin: 20px 0px 0px 50px;
    background: #e2e4ec;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: gray;
}

.name {
    color: #212325;
    font-weight:800;
}
#border {
    display: block;
    position: absolute;
    width: 900px;
    height:880px;
    margin: auto;
    background: #ffffff;
    border-radius: 1%;
    /*border: 3px solid black;*/
    padding: 20px;
    
}
.notion {
    display: flex;
    flex-direction: column;
    /*border: 2px solid red;*/
    /*box-shadow: 0px 1px 2px 1px rgb(202, 201, 201);*/
    text-align:left;
    justify-content:baseline;
    gap: 20px;
    padding:5px;
    
    
} 
.notification {
    display: block;
    position: absolute;
    
    
}
ol{
    display:block;
    position: relative;
    list-style: none;
    padding-bottom: 0px;  
}
li{
    display:inline-block;
    position: absolute;
    margin: 10px 0px 20px 0px;
    padding:0px;
    
}

li.number {
    position: relative;
    background: #09357C;
    text-align: center;
    color: #ffffff;
    width: 33px;
    font-size: 15pt;
    height: 28px;
    border-radius: 25%;
    margin: 11px 0px 0px 178px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0px;
    border: #09357C;

}

button {
    margin: 11px 0px 0px 510px;
    text-decoration: none;
    border-style: none;
    background: #ffffff;
    font-size: 12pt;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

li.notifications{
    font-size: 20pt;
    color: #303437;
    font-weight: 800;
}
.allRead {
    margin: 18px 0px 0px 510px;
    background: #ffffff;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 12pt;
    text-decoration:solid;
}

#mark, #angela, #jacob, #rizky, #kimberly, #nathan, #anna{
    display:flex ;
    background: #ffffff;
    width: 840px;
    height: 80px;
    column-gap: 20px;
    padding-top: 20px;
    justify-content:flex-start;
    box-shadow: 0px 1px 1px 1px rgb(224, 223, 223);
    
    
}

#chess {
    position: relative;
    margin-left:280px ;
}

#mark, #angela, #jacob{
    background: #F6F9FE;


}
#rizky{
    display: flex;
    flex-wrap: wrap;
    width: 840px;
    height: 180px;
}
.textRizky {
    display: flex;
    justify-content: center;
    align-items:baseline;
    padding: 12px;
    width: 700px;
    height: 100px;
    border: 2px;
    margin: 0px 80px 10px;
    box-shadow: 0px 0px 6px -1px rgb(182, 181, 181);
    
}
img{
    position: relative;
    width:50px;
    height:50px;
    margin-top: -5px;
    margin-left:15px;


}

#pointer1, #pointer2, #pointer3  {
    position: relative;
    width: 10px;
    height: 10px;
    background: rgb(240, 39, 39);
    border-radius: 50%;
    margin: 6px 0px 2px -9px;
}